* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--strange-green);
  overflow-x: hidden;
  color: var(--whiteish);
}